<!DOCTYPE HTML>
<html>

<head>
<meta charset="UTF-8">
<title>Clustering artwork images</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="../static/scriptDD.js"></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<link rel="stylesheet" href="../static/style.css"/>
</head>

<body>

<h1>Clustering artwork images {{ category }}</h1>
<form action="/load" method="get">
	<input name="category" size=80 type="text" id="category" tag="category"/>
	<input value="Load" type="submit" />
<form>
</body>
</html>
